.btn {
    @apply block sm:inline-block text-center py-4 px-10 leading-none bg-mypurple hover:bg-mypurple-dark text-white font-bold duration-200 no-underline cursor-pointer uppercase rounded-lg border-2 border-mypurple hover:border-mypurple-dark;
}

.btn-ghost {
    @apply block sm:inline-block text-center bg-white py-4 px-10 leading-none text-mypurple hover:bg-mypurple-dark hover:text-white font-bold border-2 border-mypurple hover:border-mypurple-dark duration-200 no-underline cursor-pointer uppercase rounded-lg;
}

.inline-link {
    @apply font-bold text-mypurple hover:text-mypurple-dark text-xl inline-flex items-center gap-1 hover:gap-3 transition-all cursor-pointer;
}
