form {

    label {
        @apply block text-sm mb-2;
    }

    input[type=text], input[type=password], input[type=number], input[type=date], input[type=tel], input[type=email], input[type=url], textarea {
        @apply block w-full px-4 py-1.5 text-sm placeholder-gray-600 bg-white border-2 border-gray-600;
    }

    select {
        @apply block w-full px-4 py-3 mb-2 text-sm placeholder-gray-600 bg-white border border-gray-600;
    }

    input[type=checkbox] {
        @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-600 rounded
    }

}
