ul.menu-primary {
    @apply block lg:flex lg:ml-auto lg:items-center lg:w-auto lg:space-x-8;

    .current-menu-item {
        @apply border-mypurple;

        & > a {
            @apply text-mypurple;
        }
    }

    & > li {
        @apply text-base xl:text-lg block font-bold lg:inline-block hover:text-mypurple rounded lg:rounded-none relative border-b-2 border-transparent hover:border-mypurple;

        a {
            @apply block lg:p-0 lg:py-2 p-4 lg:pt-4;
        }

        &:hover {
            & > ul {
                @apply opacity-100 visible transition duration-200;
            }
        }

        & > ul {
            @apply flex flex-col gap-3 lg:opacity-0 lg:invisible lg:absolute lg:top-12 lg:left-0 p-6 bg-white shadow-xl w-full lg:w-80 rounded z-10 mb-6;

            & > li {
                @apply text-bodycolor hover:text-mypurple;

                & > .current-page-ancestor a {
                    @apply text-mypurple;
                }
            }
        }

    }
}


ul.footer-menu, .footer-menu > ul {
    @apply block lg:flex lg:items-center lg:justify-center lg:w-auto lg:space-x-12;

    & > li {
        @apply text-base block font-bold lg:inline-block hover:text-mypurple hover:bg-gray-50 lg:hover:bg-transparent rounded lg:rounded-none relative;

        & > ul {
            @apply hidden;
        }
    }

    & a {
        @apply block lg:p-0 lg:py-4 p-4;
    }
}
