//sekce bez pozadí
.section-margin {
    @apply my-24 md:my-40;

    &:first-of-type {
        @apply mt-12 md:mt-20;
    }

    /* &:last-of-type {
        @apply mb-0;
    } */
}

.section-margin--large {
    @apply my-32 md:my-52;

    &:first-of-type {
        @apply mt-16 md:mt-28;
    }

    /* &:last-of-type {
        @apply mb-0;
    } */
}

//roztáhnutí sekce na celou šířku mimo container + výjimka pro gutenberg
/* *:not(.acf-block-preview) > .section-full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    width: 100vw;
} */


/* .main {
    @apply pt-8;
} */
