@mixin h1 {
    @apply text-5xl md:text-6xl md:leading-tight font-bold font-heading break-words md:break-normal mb-9 last:mb-0;
}
@mixin h2 {
    @apply text-4xl md:text-5xl md:leading-tight font-bold font-heading break-words md:break-normal mb-6 last:mb-0;
}
@mixin h3 {
    @apply text-3xl md:text-4xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
}
@mixin h4 {
    @apply text-2xl md:text-3xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
}
@mixin h5 {
    @apply text-xl md:text-2xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
}
@mixin h6 {
    @apply text-lg md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
}



.p {
    @apply text-lg md:text-lg leading-relaxed md:leading-relaxed mb-6 last:mb-0;
}

.link {
    @apply underline hover:no-underline;
}



//nadpisy
.h1 {
    @include h1;
    @apply text-headingcolor;
}
.h2 {
    @include h2;
    @apply text-headingcolor;
}
.h3 {
    @include h3;
    @apply text-headingcolor;
}
.h4 {
    @include h4;
    @apply text-headingcolor;
}
.h5 {
    @include h5;
    @apply text-headingcolor;
}
.h6 {
    @include h6;
    @apply text-headingcolor;
}


//třída .entry-content--ignore-color pro přebarvení nadpisů v .entry-content
.entry-content:not(.entry-content--ignore-color) {
    h1, h2, h3, h4, h5, h6 {
        @apply text-headingcolor;
    }
}




//wysiwyg styly
.entry-content {

    h1, h2, h3, h4, h5, h6 {
        a {
            @extend .link;
        }
    }

    h1 {
        @include h1;
    }
    h2 {
        @include h2;
    }
    h3 {
        @include h3;
    }
    h4 {
        @include h4;
    }
    h5 {
        @include h5;
    }
    h6 {
        @include h6;
    }

    p {
        @extend .p;
    }

    ul {
        @apply list-none list-inside mb-6 last:mb-0;

        li {
            @apply relative pl-10;

            &:before {
                content: url("../../../img/hearth.svg");
                @apply block absolute top-0.5 left-0;
            }
        }
    }

    ol {
        @apply list-decimal list-inside mb-6 last:mb-0;
    }

    li {
        @apply text-lg md:text-lg leading-relaxed md:leading-relaxed mb-2 last:mb-0;

        li {
            @apply ml-6 md:ml-8;
        }
    }

    p > a {
        @extend .link;
    }

    blockquote {
        @apply text-lg md:text-lg italic leading-relaxed md:leading-relaxed;
    }

    img {
        @apply mt-10 mb-10 first:mt-0 last:mb-0;
    }

    figure {
        @apply mt-10 mb-10 first:mt-0 last:mb-0;

        img {
            @apply mt-0 mb-0;
        }
    }

    figcaption {
        @apply mt-3 text-xs md:text-sm text-gray-500;
    }

    pre {
        @apply mb-6 last:mb-0;
    }


    //tabulka
    table {
        @apply table-auto w-full overflow-x-scroll;
    }

    td, th {
        @apply text-sm md:text-base border border-gray-300 py-2 px-2 md:px-4;
    }

    th, tfoot td {
        @apply font-bold bg-gray-50 text-center;
    }


    //iframe
    iframe {
        @apply w-full mt-10 mb-10 first:mt-0 last:mb-0;
    }

}


//dlouhý blok textu speciálně formátovaný pro čtení (např. post)
.entry-content--prose {

    h1 {
        @apply mt-16 first:mt-0;
    }
    h2 {
        @apply mt-14 first:mt-0;
    }
    h3 {
        @apply mt-10 first:mt-0;
    }
    h4 {
        @apply mt-8 first:mt-0;
    }
    h5 {
        @apply mt-8 first:mt-0;
    }
    h6 {
        @apply mt-8 first:mt-0;
    }

    p, li {
        @apply text-lg md:text-xl leading-relaxed md:leading-relaxed;
    }

}


//definování mezer mezi nadpisy (krom bloku s mezerou)
.entry-content, .entry-content--prose {

    h1, h2, h3, h4, h5, h6 {

        & + *:not(.space) {
            margin-top: 0 !important;
        }
    }

}




//ostatní

.upper-text {
    @apply text-lg text-gray-500 uppercase font-bold;
}

.lead {
    @apply text-xl md:text-2xl md:leading-relaxed;
}
