@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-white antialiased font-body text-bodycolor overflow-x-hidden;
  }

  .p, .entry-content p {
    @apply text-lg md:text-lg leading-relaxed md:leading-relaxed mb-6 last:mb-0;
  }

  .link, .entry-content p > a, .entry-content h1 a, .entry-content h2 a, .entry-content h3 a, .entry-content h4 a, .entry-content h5 a, .entry-content h6 a {
    @apply underline hover:no-underline;
  }

  .h1 {
    @apply text-5xl md:text-6xl md:leading-tight font-bold font-heading break-words md:break-normal mb-9 last:mb-0;
    @apply text-headingcolor;
  }

  .h2 {
    @apply text-4xl md:text-5xl md:leading-tight font-bold font-heading break-words md:break-normal mb-6 last:mb-0;
    @apply text-headingcolor;
  }

  .h3 {
    @apply text-3xl md:text-4xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
    @apply text-headingcolor;
  }

  .h4 {
    @apply text-2xl md:text-3xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
    @apply text-headingcolor;
  }

  .h5 {
    @apply text-xl md:text-2xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
    @apply text-headingcolor;
  }

  .h6 {
    @apply text-lg md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
    @apply text-headingcolor;
  }

  .entry-content:not(.entry-content--ignore-color) h1, .entry-content:not(.entry-content--ignore-color) h2, .entry-content:not(.entry-content--ignore-color) h3, .entry-content:not(.entry-content--ignore-color) h4, .entry-content:not(.entry-content--ignore-color) h5, .entry-content:not(.entry-content--ignore-color) h6 {
    @apply text-headingcolor;
  }

  .entry-content h1 {
    @apply text-5xl md:text-6xl md:leading-tight font-bold font-heading break-words md:break-normal mb-9 last:mb-0;
  }
  .entry-content h2 {
    @apply text-4xl md:text-5xl md:leading-tight font-bold font-heading break-words md:break-normal mb-6 last:mb-0;
  }
  .entry-content h3 {
    @apply text-3xl md:text-4xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
  }
  .entry-content h4 {
    @apply text-2xl md:text-3xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
  }
  .entry-content h5 {
    @apply text-xl md:text-2xl md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
  }
  .entry-content h6 {
    @apply text-lg md:leading-tight font-bold font-heading break-words md:break-normal mb-4 last:mb-0;
  }
  .entry-content ul {
    @apply list-none list-inside mb-6 last:mb-0;
  }
  .entry-content ul li {
    @apply relative pl-10;
  }
  .entry-content ul li:before {
    content: url("../../../img/hearth.svg");
    @apply block absolute top-0.5 left-0;
  }
  .entry-content ol {
    @apply list-decimal list-inside mb-6 last:mb-0;
  }
  .entry-content li {
    @apply text-lg md:text-lg leading-relaxed md:leading-relaxed mb-2 last:mb-0;
  }
  .entry-content li li {
    @apply ml-6 md:ml-8;
  }
  .entry-content blockquote {
    @apply text-lg md:text-lg italic leading-relaxed md:leading-relaxed;
  }
  .entry-content img {
    @apply mt-10 mb-10 first:mt-0 last:mb-0;
  }
  .entry-content figure {
    @apply mt-10 mb-10 first:mt-0 last:mb-0;
  }
  .entry-content figure img {
    @apply mt-0 mb-0;
  }
  .entry-content figcaption {
    @apply mt-3 text-xs md:text-sm text-gray-500;
  }
  .entry-content pre {
    @apply mb-6 last:mb-0;
  }
  .entry-content table {
    @apply table-auto w-full overflow-x-scroll;
  }
  .entry-content td, .entry-content th {
    @apply text-sm md:text-base border border-gray-300 py-2 px-2 md:px-4;
  }
  .entry-content th, .entry-content tfoot td {
    @apply font-bold bg-gray-50 text-center;
  }
  .entry-content iframe {
    @apply w-full mt-10 mb-10 first:mt-0 last:mb-0;
  }

  .entry-content--prose h1 {
    @apply mt-16 first:mt-0;
  }
  .entry-content--prose h2 {
    @apply mt-14 first:mt-0;
  }
  .entry-content--prose h3 {
    @apply mt-10 first:mt-0;
  }
  .entry-content--prose h4 {
    @apply mt-8 first:mt-0;
  }
  .entry-content--prose h5 {
    @apply mt-8 first:mt-0;
  }
  .entry-content--prose h6 {
    @apply mt-8 first:mt-0;
  }
  .entry-content--prose p, .entry-content--prose li {
    @apply text-lg md:text-xl leading-relaxed md:leading-relaxed;
  }

  .entry-content h1 + *:not(.space), .entry-content h2 + *:not(.space), .entry-content h3 + *:not(.space), .entry-content h4 + *:not(.space), .entry-content h5 + *:not(.space), .entry-content h6 + *:not(.space), .entry-content--prose h1 + *:not(.space), .entry-content--prose h2 + *:not(.space), .entry-content--prose h3 + *:not(.space), .entry-content--prose h4 + *:not(.space), .entry-content--prose h5 + *:not(.space), .entry-content--prose h6 + *:not(.space) {
    margin-top: 0 !important;
  }

  .upper-text {
    @apply text-lg text-gray-500 uppercase font-bold;
  }

  .lead {
    @apply text-xl md:text-2xl md:leading-relaxed;
  }

  .section-margin {
    @apply my-24 md:my-40;
    /* &:last-of-type {
        @apply mb-0;
    } */
  }
  .section-margin:first-of-type {
    @apply mt-12 md:mt-20;
  }

  .section-margin--large {
    @apply my-32 md:my-52;
    /* &:last-of-type {
        @apply mb-0;
    } */
  }
  .section-margin--large:first-of-type {
    @apply mt-16 md:mt-28;
  }

  /* *:not(.acf-block-preview) > .section-full {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      max-width: 100vw;
      width: 100vw;
  } */
  /* .main {
      @apply pt-8;
  } */
  .btn {
    @apply block sm:inline-block text-center py-4 px-10 leading-none bg-mypurple hover:bg-mypurple-dark text-white font-bold duration-200 no-underline cursor-pointer uppercase rounded-lg border-2 border-mypurple hover:border-mypurple-dark;
  }

  .btn-ghost {
    @apply block sm:inline-block text-center bg-white py-4 px-10 leading-none text-mypurple hover:bg-mypurple-dark hover:text-white font-bold border-2 border-mypurple hover:border-mypurple-dark duration-200 no-underline cursor-pointer uppercase rounded-lg;
  }

  .inline-link {
    @apply font-bold text-mypurple hover:text-mypurple-dark text-xl inline-flex items-center gap-1 hover:gap-3 transition-all cursor-pointer;
  }

  form label {
    @apply block text-sm mb-2;
  }
  form input[type=text], form input[type=password], form input[type=number], form input[type=date], form input[type=tel], form input[type=email], form input[type=url], form textarea {
    @apply block w-full px-4 py-1.5 text-sm placeholder-gray-600 bg-white border-2 border-gray-600;
  }
  form select {
    @apply block w-full px-4 py-3 mb-2 text-sm placeholder-gray-600 bg-white border border-gray-600;
  }
  form input[type=checkbox] {
    @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-600 rounded;
  }
}
@layer components {
  ul.menu-primary {
    @apply block lg:flex lg:ml-auto lg:items-center lg:w-auto lg:space-x-8;
  }
  ul.menu-primary .current-menu-item {
    @apply border-mypurple;
  }
  ul.menu-primary .current-menu-item > a {
    @apply text-mypurple;
  }
  ul.menu-primary > li {
    @apply text-base xl:text-lg block font-bold lg:inline-block hover:text-mypurple rounded lg:rounded-none relative border-b-2 border-transparent hover:border-mypurple;
  }
  ul.menu-primary > li a {
    @apply block lg:p-0 lg:py-2 p-4 lg:pt-4;
  }
  ul.menu-primary > li:hover > ul {
    @apply opacity-100 visible transition duration-200;
  }
  ul.menu-primary > li > ul {
    @apply flex flex-col gap-3 lg:opacity-0 lg:invisible lg:absolute lg:top-12 lg:left-0 p-6 bg-white shadow-xl w-full lg:w-80 rounded z-10 mb-6;
  }
  ul.menu-primary > li > ul > li {
    @apply text-bodycolor hover:text-mypurple;
  }
  ul.menu-primary > li > ul > li > .current-page-ancestor a {
    @apply text-mypurple;
  }

  ul.footer-menu, .footer-menu > ul {
    @apply block lg:flex lg:items-center lg:justify-center lg:w-auto lg:space-x-12;
  }
  ul.footer-menu > li, .footer-menu > ul > li {
    @apply text-base block font-bold lg:inline-block hover:text-mypurple hover:bg-gray-50 lg:hover:bg-transparent rounded lg:rounded-none relative;
  }
  ul.footer-menu > li > ul, .footer-menu > ul > li > ul {
    @apply hidden;
  }
  ul.footer-menu a, .footer-menu > ul a {
    @apply block lg:p-0 lg:py-4 p-4;
  }

  .pagination {
    @apply inline-grid grid-flow-col auto-cols-auto gap-4 md:gap-8 font-bold;
  }
  .pagination .current {
    @apply text-myblue;
  }
  .pagination .dots {
    @apply text-gray-500;
  }
}
@layer utilities {}