@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @import 'parts/basis';
    @import 'parts/typography';
    @import 'parts/spacings';

    @import 'parts/buttons';
    @import 'parts/forms';
}

@layer components {
    @import 'parts/navigation';
    @import 'parts/pagination';
}


@layer utilities {

}
